body {
    background-color: #000;
    margin: 0px;
    padding: 0px;
}
div.wc-local {
    text-align: left;
    color: #ccc;
    background-color: #222;
    font-family: monospace;
}
div.wc-local-clock {
    padding: 15px;
    font-size: 60pt;
}
div.wc-local-date {
    padding: 0px 15px 15px;
    font-size: 16pt;
}
div.wc {
    position: relative;
    padding: 20px;
    margin: 2px;
    height: 80px;
    color: #ccc;
    background-color: #222;
    font-family: monospace;
}
div.wc > div.wc-l {
    position: absolute;
    width: 50%;
    left: 20px;
}
div.wc > div.wc-l > div.wc-tz-name {
    font-size: 16pt;
    text-align: left;
}
div.wc > div.wc-l > div.wc-tz-ofs {
    font-size: 12pt;
    text-align: left;
}
div.wc > div.wc-l > div.wc-tz-id {
    font-size: 12pt;
    text-align: left;
}
div.wc > div.wc-r {
    position: absolute;
    width: 50%;
    right: 20px;
}
div.wc > div.wc-r > div.wc-time {
    font-size: 40pt;
    text-align: right;
}

.settings-icon {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 24pt;
    cursor: pointer;
    color: #ccc;
}

#settings-panel {
    padding: 20px;
    background-color: #2a2a2a;
    border-top: 1px solid #444;
    transition: all 0.3s ease-in-out;
}

#settings-panel.hidden {
    display: none;
}

#settings-panel form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

#settings-panel input, #settings-panel button {
    font-size: 12pt;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #ccc;
}

#settings-panel button {
    cursor: pointer;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

#settings-panel button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


#settings-panel p {
    color: #aaa;
    font-size: 10pt;
    margin-bottom: 10px;
}

#tz-suggestions {
    max-height: 150px;
    overflow-y: auto;
    background-color: #444;
    border: 1px solid #555;
    display: none;
    position: absolute;
    top: 100%;
    left: 185px;
    width: 185px;
    z-index: 10;
}


.tz-suggestion {
    padding: 8px;
    cursor: pointer;
    color: #ccc;
}

.tz-suggestion:hover {
    background-color: #555;
}

.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #500;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

#wc-list.edit-mode .remove-button {
    display: block;
}

.wc.dragging {
    opacity: 0.5;
}

.wc.over {
    border: 2px dashed #ccc;
}
